
.seleccion{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown{
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 100%;
}

li.dropdown {
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    
}


.tablalista{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; 
}

#titulos{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}