body{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-right:38%;
    margin-left:38%;
    font-family: sans-serif;
    
}

th,td{
    text-align: left;
    vertical-align: top;
    width: 50%
}

#bordeazul{

    background-color:#69A0F3;
    color: #ffffff;
    font-weight: 700;
}

#anillo{
    font-style: italic;
}

#imbd{
    font-weight: bold;
}
#wikidata{
    font-size: 10.7167px;
    text-align: left;
}
