
body{
    
    font-family: sans-serif;
}

.titulo{
    font-size: 200%;
}

p{
    line-height: 2;
    color:grey;
    margin-left: 2%;
}

#gris{
    background-color: rgb(245, 245, 245);
}

